@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


body {
  background-color:silver;
    
}











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}



.display-4 {
color: #7DBAB6
}
.navbar-brand {
text-emphasis-color: white;
background-color: #7DBAB6;
font: 24

}
/* includes alternating gray and white with on-hover color */

.mystyle {
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;

}

.mystyle td, th {
    padding: 5px;
}

.mystyle tr:nth-child(even) {
    background: #E0E0E0;
}

.mystyle tr:hover {
    background: silver;
    cursor: pointer;
}
.col-md-8, .col-md-4 {
  padding:30px !important;
  padding-top:0px !important;
}
.main-box {
  padding:30px;
  width:100%;
  margin-top:30px;
  min-height: 70vh;
}
.main-box a{
  float: left;
}
.main-box a img{
  width: 150px;
  height: 150px;
  margin-top:0px;
  margin-right: 10px;
}
.whiteback {
  background-color: white;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








